.logo {
  max-width: 180px !important;
  height: auto;
}

.github {
  max-width: 50px !important;
  height: auto;
  float: right;
}

.logoReact {
  max-width: 70px !important;
  height: auto;
}

.logoReactTools {
  max-width: 80px !important;
  height: auto;
  margin-left: 10px;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding: 21px 0 21px 0;
}

.header {
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.23);
  margin-bottom: 30px;
}

.headerContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer {
  width: 100%;
  height: 40px;
  background: #222;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footerLink {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.modal {
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  height: 300px;
}

.close {
  font-size: 28px;
  cursor: pointer;
  float: right;
}

.githubContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.logoItem {
  width: 24%;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoItem:hover {
 background: #f1f1f1;
}

.logoItem img{
  width: 60%;
}

.github{
  float: right;
  width: 94px;
}